/* Global styles */
:root {
	--primary-accent-color: #23286b;
	--secondary-accent-color: #1d72d8;
	--title-font-weight: 700;
	--subtitle-font-weight: 500;
	--standard-font-weight: 500;
	--title-font-size: 3rem;
	--subtitle-font-size: 2rem;
	--standard-font-size: 1rem;
}

*,
*::before,
*::after {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	padding: 0 2rem;
	margin: 0 auto;
	overflow-x: hidden;
	font-size: 100%;
}

a {
	color: black;
	text-decoration: none;
	font-weight: var(--title-font-weight);
	display: inline-block;
}

/* Navbar styles */
header {
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.95rem;
	padding: 1rem 0;
	transition: all 0.5s ease-in-out;
	background: white;
	z-index: 20;
}

nav a {
	padding: 0.5rem;
	margin: 0 0.8rem;
}

.nav-cta a {
	padding: 0.6rem 1.5rem;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
	transition: all 0.3s ease-in-out;
}

.nav-cta a:not(:nth-child(1)) {
	background: var(--primary-accent-color);
	color: white;
	margin-left: 1rem;
	border: 1px solid var(--primary-accent-color);
}

.mobile-menu {
	display: none;
	background: none;
	border: none;
	font-size: 2.4rem;
	color: black;
}

#menu-open {
	transform: translateX(0rem);
	display: flex;
}

/* Media queries */
@media screen and (max-width: 1100px) {
	header {
		flex-direction: column;
		z-index: 10;
	}

	nav {
		padding: 1rem 0;
	}
}

@media screen and (max-width: 700px) {
	.mobile-menu {
		display: block;
		position: absolute;
		right: 5px;
		top: 25px;
	}

	header {
		align-items: flex-start;
		justify-content: flex-start;
		position: relative;
	}

	nav,
	.nav-cta {
		transform: translateY(-50rem);
		position: fixed;
		background: white;
	}

	.nav-cta {
		padding-top: 4rem;
		bottom: 20%;
		width: 100%;
		padding-bottom: 2rem;
		transition: all 0.3s ease-in-out;
		box-shadow: 0px 15px 10px -10px rgba(104, 98, 98, 0.2);
	}

	nav {
		display: flex;
		justify-content: space-between;
		height: 65vh;
		flex-direction: column;
		width: 100%;
		font-size: 1.4rem;
		padding-top: 5rem;
		transition: all 0.3s ease-in-out;
		background: white;
	}

	nav a {
		padding-left: 0;
		margin-left: 0;
	}

	body {
		font-size: 90%;
	}

	.nav-logo {
		z-index: 10;
	}
}

@media screen and (max-width: 400px) {
	.nav-logo {
		width: 8rem;
		padding-top: 0.5rem;
	}
}
