/* Global styles */
:root {
	--primary-accent-color: #23286b;
	--secondary-accent-color: #1d72d8;
	--title-font-weight: 700;
	--subtitle-font-weight: 500;
	--standard-font-weight: 400;
	--title-font-size: 4rem;
	--subtitle-font-size: 2rem;
	--standard-font-size: 1rem;
}

*,
*::before,
*::after {
	font-family: "Raleway", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 1440px;
	padding: 0 2rem;
	margin: 0 auto;
}

a {
	color: black;
	text-decoration: none;
	font-weight: var(--title-font-weight);
}

/* Navbar styles */
header {
	min-height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	font-size: 0.95rem;
}

nav a {
	padding: 0.5rem;
	margin: 0 0.8rem;
}

.nav-cta a {
	padding: 0.6rem 1.5rem;
	border-radius: 4px;
	border: 1px solid #e5e5e5;
}

.nav-cta a:not(:nth-child(1)) {
	background: var(--primary-accent-color);
	color: white;
	margin-left: 1rem;
	border: 1px solid var(--primary-accent-color);
}
