 .lable{
     text-shadow: 0 0 black;
    font-size: 24px;
}

.numberInput{
    width: 260px;
    font-size: 20px;
    padding-right: 32px;
}

.cardIcon{
    position: absolute;
    top: 132px;
    left: 260px;
    width: 35px;
    height: 35px;
    color: #24346a;
}

.cvcInput{
    margin-left: 52.5px;
    width: 85px;
    font-size: 20px;
    padding-right: 26px;
    padding-left: 3px;
    
}

.cvc{
    margin-left: 80px;
}

.dateInput{
    width: 135px;
    font-size: 20px;
    padding-right: 32px;
    
}

.lockIcon{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 237px;
    left: 279px;
    color: #24346a;

}

.payBt{
    margin-left: 195px;
    padding: 4px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 19px;
    border-radius: 5px;
    color: white;
    background-color: #24346a;
    font-weight: bolder;
    width: 100px;
}