.blog-upper {
	position: relative;
	padding-bottom: 5rem;
}

.blog-upper a {
	position: absolute;
	right: 0;
	top: -40%;
}

.blog-upper h1 {
	text-align: center;
}

.blog-img-container {
	position: relative;
}

.blog-img-container img {
	width: 200px;
}

.blog-card {
	width: 350px;
	height: auto;
	min-height: 150px;
	background-color: rgb(255, 255, 255);
	padding: 2rem;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 3rem;
}

.blog-card .blog-img-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.blog-content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.blog-card h3 {
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
}

.read-blog-container h1 {
	text-align: center;
	padding-bottom: 2rem;
}

.read-blog-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 2rem;
}

.read-blog-container img {
	width: 400px;
}

.blog-card p:nth-child(3),
.read-blog-container p:nth-child(2) {
	font-size: 1.1rem;
	color: grey;
	font-weight: 500;
}

.blog-card p:nth-child(3),
.light {
	padding-top: 1rem;
	font-size: 0.9rem;
	color: grey;
	font-weight: 500;
}

.light {
	padding-top: 0;
}

.blog-card p:nth-child(4) {
	padding-top: 0.2rem;
	font-size: 0.9rem;
	color: grey;
	font-weight: 500;
}

.read-blog-container h3 {
	padding-bottom: 1rem;
}

.read-blog-container {
	max-width: 1000px;
	margin: 0 auto;
	padding-bottom: 2rem;
}

.read-blog-container .blog-content {
	padding-bottom: 1rem;
}
