.researchTable{
    position: relative;
    top: -550px;
    margin-left: -1px;
    width: 710px;
}

.workshopsTable{
    position: absolute;
    top: 1051px;
    margin-left: 740px;
    width: 710px;
}