.bar{
    width: 925px;
    height: 490px;
    margin-top: 10px;
}

.barOutline{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 10%);
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    margin-top: 50px;
    text-align: center;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.05px;
    color: rgb(107, 119, 140);
}