.NoticeCard{
    padding: 20px;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.approve{
     margin-left: 1090px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(7 123 12);
    width: 120px;
    margin-top: 40px;
}

.reject{
    margin-left: 15px;
    padding: 8px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 18px;
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(165 17 13);
    font-weight: bolder;
    /* border: solid 2.5px; */
    width: 100px;
}

.topics{
    display: initial;
}

.date{
    display: initial;
    margin-left: 1127px;
}

.contents{
        margin-top: 10px;
}