.piechart{
    width: 490px;
    height: 500px;
    padding-top: 10px;
    

   
}
.chartoutline{
background-color: rgb(255, 255, 255);
    box-shadow: rgb(63 63 68 / 15%) 0px 0px 0px 1px, rgb(63 63 68 / 65%) 0px 1px 2px 0px;
    padding-top: 10px;
    margin-left: 960px;
    position: relative;
    top: -562px;
    width: fit-content;
    text-align: center;
    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 10%);
    border-radius: 10px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: -0.05px;
    color: rgb(107, 119, 140);
}