.table{
    width: 710px !important;
    margin-top: 50px;
    box-shadow: rgb(63 63 68 / 15%) 0px 0px 0px 1px, rgb(63 63 68 / 65%) 0px 1px 2px 0px;
}

.approved{
color: white !important;
background-color: rgb(7 123 12);
border-radius: 500px;
width : 20px;
height: 1px;
}

.rejected{
color: white !important;
background-color: rgb(165 17 13);
padding: 10px;
}
