.table{
    width: 710px !important;
    margin-top: 50px;
    box-shadow: 0px 0px 20px 3px rgb(0 0 0 / 10%);
    border-radius: 22px;
}

.approved{
/* color: white !important;
background-color: rgb(7 123 12);
border-radius: 500px;
width : 20px;
height: 1px; */
}

.rejected{
/* color: white !important;
background-color: rgb(165 17 13);
padding: 10px; */
}
